.login {
  color: white !important;
  margin: 10px;
}

.register {
  color: white !important;
  margin: 10px;
}

.logged_as {
  color: white !important;
  margin: 10px;
}

.nav-btn {
  color: white !important;
  margin: 10px;
}
