body {
  /* background: linear-gradient( */
  /*   132deg, */
  /*   rgb(224, 235, 213) 0%, */
  /*   rgb(37, 148, 141) 100% */
  /* ); */
}

.company_missing {
  /* margin-left of 40px, bold text and red color */
  margin-left: 40px;
  font-weight: bold;
  color: red;
}
.company_found {
  /* margin-left of 40px, bold text and red color */
  margin-left: 40px;
  font-weight: bold;
  color: green;
}

.space-top {
  margin-top: 30px;
}

.header-page {
  /* Include a div for the title and a button in the same line */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chip-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome_message {
  /* Create styling for the beginning of page of the title "Welcome, User!" */
  font-family: monospace;
  border-bottom: 2px solid;
  /* border-color: rgb(37, 148, 141); */
  /* color: rgb(37, 148, 141); */
  border-color: rgb(255,255,255);
  color: rgb(255,255,255);
  font-size: 40px;
  margin-top: -45px;
  margin-left: 40px;
  /* width: 10.5%; */
  margin-bottom: 20px;
  min-width: 125px;
  font-weight: bold;
}

.header-button {
  font-size: 40px;
  margin-top: -45px;
  margin-left: 40px;
  /* width: 15.2%; */
  margin-bottom: 20px;
}

.title-button {
  /* background: rgb(37, 148, 141) !important; */
  background: rgb(255,255,255,0.1) !important;
  color: white !important;
}

.resources-table {
  margin-top: 20px;
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 50%; */
  border-radius: 15px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.resources-table td,
.resources-table th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

/* .resources-table tr:hover { */
/*   background-color: #ddd; */
/* } */
.resources-table tr {
  /* background-color: #e9f7ea; */
  background-color: rgba(255, 255, 255, 0.25);
}

.resources-table tr:first-child {
  /* background: linear-gradient( */
  /*   132deg, */
  /*   rgb(224, 235, 213) 0%, */
  /*   rgb(37, 148, 141) 100% */
  /* ); */
  background: rgba(37, 148, 141, 1);
}

.resources-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4caf50; */
  /* background-color: rgba(76, 175, 80, 0.85); */
  color: white;
}
.paginator {
  margin-left: 40px;
  /* width: 83vw; */
  display: flex;
  align-items: flex-start;
  min-height: 70px;
  background: transparent !important;
  /* font-weight: bold; */
  font-size: 14px;
}

.w15 {
  width: 10px;
}
.w25 {
  width: 25px;
}
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w500 {
  min-width: 400px;
  max-width: 600px;
}

.table-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.employees-grid {
display: grid;

grid-template-columns: repeat(6, 1fr);

grid-auto-rows: auto;

grid-gap: 1rem;grid-auto-flow: row;
justify-items: center;
margin: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 75%;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.container {
  /* padding: 2px 16px; */
}

.emitor {
  color: green;
}

.driver {
  color: blue;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.header-row {
  background: rgb(36,37,42) !important;
  display: flow-root;
  padding-bottom: 10px;
}
