<div class="header-row">
<div class="header-page">
  <div class="welcome_message">Iesiri</div>
  <div class="header-button" *ngIf="user_company">
    <button
      mat-raised-button
      class="title-button"
      (click)="manage_payment(true)"
    >
      Adauga
    </button>
  </div>
</div>

<div class="chip-row">
  <mat-chip-listbox
    aria-label="Fish selection"
    *ngIf="!isLoading"
    style="margin-left: 40px"
  >
    <mat-chip-option
      selected
      (click)="getMonthIntervalOutputPaymentsPagination(1)"
      >Luna Curenta</mat-chip-option
    >
    <mat-chip-option (click)="getMonthIntervalOutputPaymentsPagination(2)"
      >Ultimele 2 Luni</mat-chip-option
    >
    <mat-chip-option
      class="current-year"
      (click)="getMonthIntervalOutputPaymentsPagination(-1)"
      >Anul Curent</mat-chip-option
    >
    <!-- <mat-chip-option color="warn">Warn fish</mat-chip-option> -->
  </mat-chip-listbox>
</div>
</div>
<mat-spinner
  style="margin-left: 40px; margin-top: 40px"
  *ngIf="isLoading"
></mat-spinner>
<div class="table-view">
  <table class="resources-table" *ngIf="outputPayments.length > 0">
    <tr>
      <th>ID</th>
      <th>Firma</th>
      <th style="cursor: pointer" (click)="changeReceiptDateSort()">Data</th>
      <th style="cursor: pointer" (click)="changeValueSort()">Valoare</th>
      <th>Tva</th>
      <th>Actiuni</th>
    </tr>
    <tr *ngFor="let payment of outputPayments">
      <td class="colored_cells">{{ payment.id }}</td>
      <td>
        {{ payment.name }}
      </td>
      <td>{{ payment.payment_date }}</td>
      <td>{{ payment.total }}</td>
      <td>{{ payment.vat_value ? payment.vat_value : 0 }}</td>
      <td class="table-cell-center">
        <mat-icon
          [inline]="true"
          style="margin: 0 10px"
          class="icon filters"
          (click)="manage_payment(false, payment)"
          >edit</mat-icon
        >
      </td>
    </tr>
  </table>
  <mat-paginator
    class="paginator"
    [length]="paginator.count"
    [pageSize]="20"
    (page)="receivePage($event)"
    [pageIndex]="paginator.pageIndex"
    *ngIf="!isLoading && canBeDone"
  >
  </mat-paginator>
</div>

<div
  [ngClass]="{
    company_found: user_company,
    company_missing: !user_company
  }"
>
  {{
    user_company
      ? ""
      : "Nu am gasit nicio companie inregistrata in contul dumneavoastra"
  }}
</div>

<div class="company_missing" *ngIf="outputPayments.length == 0">
  Nu exista nicio intrare inregistrata.
</div>
