body {
  background-color: #e9f4f4;
}

.company_missing {
  /* margin-left of 40px, bold text and red color */
  margin-left: 40px;
  font-weight: bold;
  color: red;
}
.company_found {
  /* margin-left of 40px, bold text and red color */
  margin-left: 40px;
  font-weight: bold;
  color: green;
}
.header-page {
  /* Include a div for the title and a button in the same line */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chip-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome_message {
  /* Create styling for the beginning of page of the title "Welcome, User!" */
  font-family: monospace;
  border-bottom: 2px solid;
  /* border-color: rgb(37, 148, 141); */
  /* color: rgb(37, 148, 141); */
  border-color: rgb(255,255,255);
  color: rgb(255,255,255);
  font-size: 40px;
  margin-top: -45px;
  margin-left: 40px;
  /* width: 10.5%; */
  margin-bottom: 20px;
  min-width: 150px;
  font-weight: bold;
}

.header-button {
  font-size: 40px;
  margin-top: -45px;
  margin-left: 40px;
  /* width: 15.2%; */
  margin-bottom: 20px;
}

.title-button {
  /* background: rgb(37, 148, 141) !important; */
  background: rgb(255,255,255,0.1) !important;
  color: white !important;
}

.resources-table {
  margin-top: 20px;
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.resources-table td,
.resources-table th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

/* .resources-table tr:hover { */
/*   background-color: #ddd; */
/* } */
.resources-table tr {
  /* background-color: #e9f7ea; */
  background-color: rgba(255, 255, 255, 0.25);
}

.resources-table tr:first-child {
  /* background: linear-gradient( */
  /*   132deg, */
  /*   rgb(224, 235, 213) 0%, */
  /*   rgb(37, 148, 141) 100% */
  /* ); */
  background: rgba(37, 148, 141, 1);
}

.resources-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4caf50; */
  color: white;
}

.resources_table_unpaid {
  background-color: #fbdddd !important;
}

.colored_cells {
  /* background-color: white; */
}

.last-two-months .mat-chip-selected {
  background-color: yellow !important;
}
.paginator {
  margin-left: 40px;
  /* width: 83vw; */
  display: flex;
  align-items: flex-start;
  min-height: 70px;
  background: transparent !important;
}

.table-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.header-row {
  background: rgb(36,37,42) !important;
  display: flow-root;
  padding-bottom: 10px;
}
